
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8" xmlns:th="http://www.w3.org/1999/xhtml">
<html>
  <head>
    <script src="/js/videoinformation.js" defer></script>
    <link rel="stylesheet"  th:href="@{/css/download.css}">
    <title>Yolo File Upload</title>
  </head>

  <body>
    <center><h1>YOLOv5 on K3S</h1></center>
    <center><h4 th:text="${mode} +' Mode'"></h4></center>
    <center><h3>Success!</h3></center>
    <center><p th:text= "'Total time: ' + ${waitTime}"></p></center>
    <br>
    <center><p th:text= "'Drop Count: ' + ${dropCount}"></p></center>
<!--    <video controls width="250">-->
<!--      <source src = "D:\\Capstone\\yolo5_light_file_size\\data\\video\\traffic-mini.mp4" type="video/mp4">-->
<!--      <a href="D:\\Capstone\\yolo5_light_file_size\\data\\video\\traffic-mini.mp4">MP4</a>-->
<!--    </video>-->



    <center><h4>Download Please!</h4></center>
    <center><form action="download/final" method="get">
      <button type="submit">download</button>
    </form></center>



  </body>
</html>